
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>CNT4713 Stream Project Summer 2021</title>
	
	<style>
		.container {
			position:relative;
		}

		.footer {
			position:absolute;
			bottom: 10px;
			text-align:center;
			width: 100%;
		}
		
		.form-group{
			margin-top: 5%;
		}
		
		.enter {
			text-align:center;
		}
		
		.btn {
			width:40% !important;
			margin-right: 30% !important;
			margin-left: 30% !important;
		}
		
		.btn:hover{
			background-color: #008CBA; 
			color: white;
		}
		
	</style>
	
	
	
</head>
<body>
    <div class="container">
        <!-- <img src="../static/cnt.jpg" alt="CNT4713" class="logo"> -->
        <h3> CNT4713 Stream Project Summer 2021</h3>
        <form action="/submit" method="POST">
            <div class="enter col-lg-4 col-lg-offset-4">
			<p> Please enter a Password to enter the Matrix </p>
                <div class="form-group" id=pwd>
                    <!-- <input type="password" name="password" placeholder="Password"> -->
                    {{ form.password(class = "form-control mb-3", placeholder = "Password", style="width:250px")}}
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-4">
                <div class="form-group">
                    {{ form.submit(class="btn")}}
                </div>
            </div>
        </form>	 
    </div>
	<div class = "footer col-lg-4 col-lg-offset-4">
	    <p> This code was outsourced from Danny Barlos. Check out the rest of his programming work at <a href="https://github.com/dannybarlos">https://github.com/dannybarlos </a> <p> 
	</div>
</body>
</html>